{% extends 'base.html' %} {% block content %}
<header class="masthead" style="height: 100vh; min-height: 500px; background-image: url('https://i.ibb.co/GMKVXwG/Be-Funky-photo.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center text-white">
        <h1 class="font-weight-light" style="text-shadow: 2px 2px 5px #000000;">Choose your Flask Project</h1>
        <p class="lead mb-3" style="text-shadow: 2px 2px 5px #000000;">2 Flask project made by theXtroyer at <a href="https://github.com/theXtroyer1221/Flask-todolist-chat">github</a></p>
        <div class="row">
          <div class="col-md-6">
            <a href="{{url_for('todo')}}">
              <div class="card text-white">
                <img class="card-img" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" alt="" />
                <div class="card-img-overlay align-items-center text-dark">
                  <h4 class="card-title">What to do?</h4>
                  <p class="card-text">A TodoList powerd by flask</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="{{url_for('chat')}}">
              <div class="card text-white">
                <img class="card-img" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" alt="" />
                <div class="card-img-overlay align-items-center text-dark">
                  <h4 class="card-title">Flask live chat</h4>
                  <p class="card-text">Live messaging service using web sockets</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock content %}
