{% extends 'base.html' %} {% block content %}
<main>
  <div class="container">
    <div class="jumbotron rounded text-center rounded mb-5">
      <h1 class="display-3">To do list</h1>
    </div>

    <div class="d-flex justify-content-center mb-3">
      <form method="POST" action="" class="d-flex w-50">
        {{form.hidden_tag()}} {{form.todo(placeholder="eg. Shoping, cleaning, go to the park", class="form-control mr-3")}} {{form.submit(class="btn btn-primary")}}
      </form>
    </div>
    <div class="justify-content-center">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><i class="fas fa-list"></i> To do</th>
            <th scope="col"><i class="fas fa-edit"></i> Action</th>
          </tr>
        </thead>
        <tbody class="table">
          {% for todo in todos %} {% if todo.complete %}
          <tr style="background: rgba(0, 0, 0, 0.1);">
            {% if todo.complete%}
            <th scope="row"><s>{{todo.content}}</s></th>
            {% else %}
            <th scope="row" class="font-weight-normal">{{todo.content}}</th>
            {% endif %}
            <th scope="row" class="d-flex">
              <form action="{{url_for('update')}}" method="POST" class="mr-2">
                <input type="checkbox" class="d-none" name="value" value="{{todo.id}}" checked />
                <input type="submit" class="btn btn-success" value="Mark as done" />
              </form>
              <form action="{{url_for('delete')}}" medthod="POST">
                <input type="checkbox" class="d-none" name="delete" value="{{todo.id}}" checked />
                <input type="submit" class="btn btn-danger" value="Delete" />
              </form>
            </th>
          </tr>
          {% else %}
          <tr>
            {% if todo.complete%}
            <th scope="row"><s>{{todo.content}}</s></th>
            {% else %}
            <th scope="row" class="font-weight-normal">{{todo.content}}</th>
            {% endif %}
            <th scope="row" class="d-flex">
              <form action="{{url_for('update')}}" method="POST" class="mr-2">
                <input type="checkbox" class="d-none" name="value" value="{{todo.id}}" checked />
                <input type="submit" class="btn btn-success" value="Mark as done" />
              </form>
              <form action="{{url_for('delete')}}" medthod="POST">
                <input type="checkbox" class="d-none" name="delete" value="{{todo.id}}" checked />
                <input type="submit" class="btn btn-danger" value="Delete" />
              </form>
            </th>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock content %}
